/* start header */
.header {
  padding: 20px 0;
  border-bottom: 1px solid $greyColor;
  overflow: hidden;
  .logo {
    position: relative;

    @media #{$minSmall} {
      width: 100%;
      float: none;
      text-align: center;
    }
    @media #{$minMedium} {
      width: 30%;
      float: $float-left;
      text-align: $text-left;
    }
    h1 {
      margin-bottom: 0;
      margin-top: 10px;
    }
    p {
      font-size: 20px;
    }
  }
  .navbar {
    overflow: hidden;
    background-color: $redColor;
    border-radius: 15px;
    @media #{$minSmall} {
      width: 100%;
      float: none;
      margin-top: 30px;
      display: block !important;
    }
    @media #{$minMedium} {
      float: $float-left;
      width: 70%;
      margin-top: 1rem;
    }
    @media #{$maxMobile} {
      display: none;
      border-radius: 0;
    }
    li {
      float: $float-left;
      width: 20%;
      text-align: center;
      @media #{$maxMobile} {
        float: none;
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: $text-left;
      }
      a {
        display: block;
        padding: 20px 10px;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: $greyColor;
        }
      }
    }
  }
}
/* end header */
