/* start slider */
.slider {
  q {
    font: {
      size: 20px;
      family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      weight: bold;
      style: italic;
    }
    line-height: 1.7;
    text-align: center;
    color: #8d8d8d;
    width: 80%;
    margin: 30px auto;
    display: block;
  }
  img {
    max-width: 100%;
  }
  .bullets {
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $greyColor;
      border-radius: 50%;
      border: 3px solid $greyColor;
      cursor: pointer;
      transition: 0.3s;
      &.active,
      &:hover {
        background-color: #eee;
        border: 3px solid #333;
      }
    }
  }
}
/* end slider */
/* start services */
.services {
  .service-box {
    @media #{$minMedium} {
      float: $float-left;
      width: (100% / 3);
      &:not(:last-of-type) {
        padding-right: 15px;
      }
    }
    @media #{$maxMobile} {
      i {
        display: block;
        margin-bottom: 15px;
      }
    }
    h3 {
      i {
        font-size: 35px;
        margin-right: 10px;
        position: relative;
        top: 5px;
      }
    }
    p {
      color: #777;
      line-height: 1.6;
    }
    a {
      text-decoration: none;
      color: $redColor;
    }
  }
}
/* end services */
/* start our player */
.our-players {
  .player-box {
    @media #{$minSmall} {
      float: $float-left;
      text-align: center;
      width: calc(100% / 2);
      margin-bottom: 40px;
    }
    @media #{$minMedium} {
      text-align: $text-left;
      width: calc(100% / 3);
      padding-left: 20px;
      padding-right: 20px;
    }
    @media #{$minLarge} {
      width: calc(100% / 5);
    }
    @media #{$maxMobile} {
      margin-bottom: 40px;
    }
    img {
      max-width: 100%;
    }
    h3 {
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    p {
      color: #777;
      line-height: 1.6;
    }
    a {
      text-decoration: none;
      color: $redColor;
    }
  }
}
/* end our player */
/* start our loream */
.our-loream {
  .loream-box {
    float: $float-left;
    width: (94% / 3);
    &:not(:last-of-type) {
      margin-right: 3%;
    }
    @media #{$maxMobile} {
      width: 94%;
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
    }
  }
}
/* end our loream */
